version: 2.1

orbs:
  snyk: snyk/snyk@0.0.10

workflows:
  integration:
    jobs:
      - checkout_code
      # - lint:
      #     requires:
      #       - checkout_code
      # - test:
      #     requires:
      #       - checkout_code
      # - security-scan:
      #     requires:
      #       - checkout_code
      - compile:
          requires:
            - checkout_code
            # - lint
            # - test
            # - security-scan
      - release:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+.*$/
          requires:
            - compile

jobs:
  checkout_code:
    docker:
      - image: circleci/golang:1.14
    steps:
      - checkout
      - run: git fetch --tags
      - save_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/project

  # lint:
  #   docker:
  #     - image: circleci/golang:1.14
  #   steps:
  #     - restore_cache:
  #         key: repo-{{ .Environment.CIRCLE_SHA1 }}
  #     - run:
  #         name: Lint
  #         command: make lint

  # test:
  #   docker:
  #     - image: circleci/golang:1.14
  #   steps:
  #     - restore_cache:
  #         key: repo-{{ .Environment.CIRCLE_SHA1 }}
  #     - run:
  #         name: Unit Tests
  #         command: make test-unit
  #     - run:
  #         name: Integration Tests
  #         command: make test-integration

  # security-scan:
  #   docker:
  #     - image: circleci/golang:1.14
  #   steps:
  #     - restore_cache:
  #         key: repo-{{ .Environment.CIRCLE_SHA1 }}
  #     - snyk/scan:
  #         severity-threshold: high
  #         fail-on-issues: false
  #         monitor-on-build: true

  compile:
    docker:
      - image: circleci/golang:1.14
    steps:
      - restore_cache:
          key: repo-{{ .Environment.CIRCLE_SHA1 }}
      - run: make compile-only

  release:
    docker:
      - image: circleci/golang:1.14
    environment:
      TAG: $CIRCLE_TAG
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: 'Release the goods'
          command: |
            echo 'export TAG_TEST=${CIRCLE_TAG}' >> $BASH_ENV
            make release-publish
            ./scripts/brew-formula.sh $CIRCLE_TAG
