name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Add GOBIN to PATH
        run: echo "::add-path::$(go env GOPATH)/bin"
        shell: bash

      - name: Checkout newrelic/newrelic-cli
        uses: actions/checkout@v2

      - name: Publish Release
        shell: bash
        run: make release-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout homebrew-core
        uses: actions/checkout@v2
        with:
          repository: sanderblue/homebrew-core
          path: homebrew-core
          # token: ${{ secrets.GH_ACTIONS_PERSONAL_ACCESS_TOKEN }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create homebrew-core pull request
        shell: bash
        run: ./scripts/brew-formula.sh
        env:
          GH_USER_EMAIL: william.a.blue@gmail.com
          GH_USER_NAME: 'Sander Blue'
