name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}

      - name: Add GOBIN to PATH
        run: echo "::add-path::$(go env GOPATH)/bin"
        shell: bash

      - name: Checkout newrelic/newrelic-cli
        uses: actions/checkout@v2

      - name: Publish Release
        shell: bash
        run: make release-publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout sanderblue/homebrew-core
        uses: actions/checkout@v2
        with:
          repository: sanderblue/homebrew-core
          path: homebrew-core

      - name: SSH setup?
        uses: webfactory/ssh-agent@v0.2.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      # - name: Install SSH key
      #   uses: shimataro/ssh-key-action@v2
      #   with:
      #     key: ${{ secrets.PERSONAL_SSH_KEY }}
      #     name: id_rsa # optional
      #     known_hosts: ${{ secrets.KNOWN_HOSTS }}

      - name: Create homebrew-core pull request
        shell: bash
        run: ./scripts/brew-formula.sh
        env:
          # GITHUB_ACTOR: ${{ secrets.GITHUB_ACTOR }}
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # GITHUB_REPOSITORY: ${{ secrets.GITHUB_REPOSITORY }}
          # PAT: ${{ secrets.GH_ACTIONS_PERSONAL_ACCESS_TOKEN }}
          PERSONAL_SSH_KEY: ${{ secrets.PERSONAL_SSH_KEY }}
